/* All common CSS directives */
:root {
  --primary-color: #1f2937;
  --secondary-color: #e5e7eb;
  --tertiary-color: #3882f6;
  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --b1-font-size: 24px;
  --b2-font-size: 18px;

  --width: 768px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: var(--b2-font-size);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors are set at section level */
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar {
  /* navbar is added to enforce width*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  flex: 1;

  max-width: var(--width);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;

  font-size: var(--h1-font-size);
  font-weight: 900; /* Should we set this to global variable? */
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  justify-self: flex-end;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors are set at section level */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  height: 70vh;
}

.hero-area {
  max-width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 12px 16px;
  flex-grow: 1;

  gap: 24px;
}

.hero-description-area {
  flex: 1;
  border: thin solid var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  gap: 4px;
}

.hero-description-title {
  font-size: var(--h2-font-size);
  font-weight: 900;
}

.hero-image-area {
  flex: 1;
  border: thin solid var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* info section */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);

  height: 60vh;
  gap: 16px;
}

.info-title {
  font-size: var(--h2-font-size);
}

.info-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex: 1; */
  gap: 24px;

  flex-wrap: wrap;
}

.info-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card-image {
  width: 120px;
  height: 120px;
  border: thin solid var(--tertiary-color);
  border-radius: 10px;
}

/* Testimonial */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);

  height: 60vh;
  gap: 16px;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: var(--width);
  padding: 12px 16px;
}

.testimonials-text {
  font-size: var(--h2-font-size);
  font-style: italic;
  font-weight: 100;
}

.testimonials-cite {
  justify-self: flex-end;
  font-size: var(--b2-font-size);
  font-weight: 900;
}
